.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: grey;
    color: white;
    text-align: center;
    padding-top: 10px;
}

div .navbar-right{
    padding-right: 15px;
}

.page-header{
    padding-top: 50px;
}

h1{
    text-align: center;
}

p{
    font-size: larger;
}

fieldset{
    border: 1px solid black;
}

#jadwal{
    text-align: left;
    font-size: 20px;
}

#peserta-seminar{
    text-align: center;
    font-size: 30px;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    
}

form{
    padding-left: 15px;
}

/* background form */
#daftarTA, #daftarSeminar{
    background-color: lightblue;
}